{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row row-content">
        <div class="col-sm-4 col-md-4">
            <div class="card">
                <div class="card-body">
                     <div class="alert alert-success" role="alert">
                        <strong>Password changed successfully!</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}