{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row row-content">
      <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <h3>Beverage History</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Beverage</th>
                    <th scope="col">Bean Amount</th>
                    <th scope="col">Temperature</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <th scope="row">{{ order.created_at }}</th>
                        <td>{{ order.beverage }}</td>
                        <td>{{ order.bean_amount }}</td>
                        <td>{{ order.get_temperature_display }}</td
                    </tr>
                {% endfor %}
                </tbody>
            </table>
      </div>
    </div>
</div>
{% endblock %}